In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

In [2]:
#Name dataframe for cleaned data csv
csv = "cities.csv"

#Read the data
cities_df = pd.read_csv(csv)

In [3]:
cities_df.head()

,Unnamed: 0,City,Temperature,Humidity,Cloudiness,Wind Speed,Latitude,Longitude
0,0,Severo-Kuril'sk,26.74,91,28,17.47,50.68,156.12
1,1,Chui,66.29,81,2,9.91,-33.70,-53.46
2,2,Kavaratti,86.02,64,1,2.08,10.57,72.64
3,3,Mataura,44.01,82,45,7.00,-46.19,168.86
4,4,Tuatapere,44.01,82,54,7.00,-46.13,167.68

In [4]:
locations = cities_df[['Latitude','Longitude']].astype(float)
cities_df = cities_df.dropna()
humidity = cities_df['Humidity'].astype(float)

In [5]:
gmaps.configure(api_key=g_key)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))